In [6]:
x = 7
y = 4.1
z = 0

%whos

Variable   Type     Data/Info
-----------------------------
x          int      7
y          float    4.1
z          int      0

In [9]:
print( x - 6 )
c = x + y - 2
print(c)

1
9.1

In [12]:
# floating-point algebra vs. "real"  algebra
print( x*y )
4/3

28.699999999999996

1.3333333333333333

In [15]:
#4\ is new line
4\
    +3
3/4

0.75

In [22]:
# powers
print(3**3)
print(3**4)
9**(1/2)

27
81

3.0

In [25]:
first_name = 'Mike'
last_name = 'Cohen'

print( first_name + ' ' + last_name)

Mike Cohen

In [27]:
first_name * 5

'MikeMikeMikeMikeMike'